.container-signUp-img {
    /* background-image: url('../assets/blablabus.jpg'); */
    background-image: linear-gradient(90deg, #0f0e0ea6 0%, #332e2f8e 55%, #464243b0 100%), url('../assets/blablabus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -5rem;
}

.container-signUp {
    width: 80%;
    margin: 5rem auto;
    padding: 2rem;
}

.formulaire {
    width: 80%;
    margin: auto;
}

.form-content {
    width: 85%;
    margin: auto;
    /* background-color: rgba(100, 148, 237, 0.452); */
    /* background-color: rgba(24, 101, 243, 0.452); */
    background-color: #15e1f4a8;
    padding: 3rem 2rem 3rem 2rem;
    border-radius: .5rem;
}

.form-content h1 {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.form-content p {
    color: black;
    text-align: center;
    margin-bottom: 2rem
}

.form-content p>a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.form-content form {
    display: flex;
    flex-direction: column;
}

.form-content form input {
    padding: 1rem;
    border-radius: .5rem;
    border: .1rem solid transparent;
    margin-bottom: 1rem;
}

.form-content form .btn-inscription {
    width: 10rem;
    border-radius: .5rem;
    background-color: #f57f08;
    color: white;
}

/* .form-content {
    width: 40%;
    margin: 3rem auto;
    background-color: rgba(2, 23, 32, 0.123);
    background-color: rgba(0, 174, 255, 0.466);
    border-radius: .4rem;
    padding: 2rem;
}



.container-signUp form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.form-content input {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
    border: .1rem solid transparent;
}

.form-content label {
    color: #f57f08;
}

.form-content button {
    width: 10rem;
    padding: 1rem;
    border-radius: .3rem;
    border: .1rem solid transparent;
}

.formulaire {
    padding-top: 2rem;
    height: 100vh;
    background-image: url(seychelles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */