 .sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #22c1c3;
    z-index: 100;
 }

 .sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: white;
 }

 .sidebar-brand span {
     display: inline-block;
     padding-right: 1rem;
 }

 .sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}

.sidebar-menu {
    margin-top: 1rem;
}


.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.sidebar-menu a.active {
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #22c1c3;
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}


.main-content {
   margin-left: 345px;
}
 
 
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
    align-items: center;
    height: 50px;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.3rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}
 
 
 
.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: lightgray;
}
 
.position-relative{
    position: relative;
}

.d-none{
    display: none   ;
}

.d-block{
    display: block;
}

.sub-menu{
    position: absolute; 
    top: -50px;
    left: 345px;
    /* height: 100%; */
    background: #087172;
    padding: 46px;  
}

