.user-dashboard-nav {
    background-color: #22c1c3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.user-img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: lightsteelblue;
    margin-left: 4rem;
    margin-right: .5rem;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-left span, .nav-left div {
    cursor: pointer;
}

.logout {
    cursor: pointer;
}

.user-dashboard-sidebar ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.user-dashboard-sidebar ul li {
    margin: 3rem;
    list-style: none;
    cursor: pointer;
    color: lightseagreen;
}

.li-top, .buy {
    border-bottom: .1rem solid lightgrey;
    width: 15rem;
}

.li-top, .buy li>a {
    text-decoration: none;
    color: #22c1c3;
}

.profil-items {
    display: none;
}

.addUserProfil {
    display: block;
}

.user-profil li>a, .user-history li>a {
    text-decoration: none;
    color: #22c1c3;
}



.purchase {
    line-height: 2;
    padding: 1rem;
    border: #22c1c3 .1rem solid;
    margin: 5rem;
}


.user-history-items {
    display: none;
}

.add-user-history-items {
    display: block;
}

.profil-top {
    display: flex;
    width: 80%;
    margin: 5rem auto;
}

.profil-top .user-infos {
    background-color: #22c1c3;
    color: white;
    padding: 1rem;
    flex: 1;
    cursor: pointer;
}

.profil-top .user-edit {
    background-color: white;
    color: #22c1c3;
    padding: 1rem;
    border: #22c1c3 .1rem solid;
    flex: 1;
    cursor: pointer;
}

.profil-bot {
    border: #22c1c3 .1rem solid;
    padding: 1rem;
    width: 80%;
    margin: 5rem auto;
}

.profil-bot form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.profil-bot form div input {
    padding: 1rem 5rem 1rem 5rem;
    border: .1rem solid #22c1c3;
    border-radius: .2rem;
}

.profil-bot form div button {
    background-color: #22c1c3;
    color: white;
}