.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #22c1c3;
    z-index: 100;
 }

 .sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: white;
 }

 .sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
 }

 .sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}

.sidebar-menu {
    margin-top: 1rem;
}


.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.sidebar-menu a.active {
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #22c1c3;
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}


.main-content {
   margin-left: 345px;
}
 
 
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
    align-items: center;
    height: 50px;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.3rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}
 
 
 
.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: lightgray;
}
 

.user-wrapper .user-minisession {
    border: .1rem solid #222;
    padding: 1rem;
    line-height: 2;
    display: none;
}

.add-user-minisession {
    display: block;
}


main {
    margin-top: 90px;
    padding: 2rem 1.5rem;
    /* background-color: #f0f0f0; */
    min-height: calc(100vh - 90px);
}

.cards {
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem; */
    margin-top: 1rem;
}

.cards a {
    text-decoration: none;
    color: #f57f08;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 2rem;
    transition: all 500ms ease;
    flex: 1;
    cursor: pointer;
    border: .1rem solid #22c1c3;
}

.card-single:hover {
    transform: scale(1.2);
}

.card-single div:last-child span {
    color: #f57f08;
    font-size: 3rem;
}

.card-single div:first-child span {
    color: gray;
}



.drowpdown {
    display: none;
    margin-left: 18rem;
}


.notif-items {
    display: none;
}

.addNotif-items {
    display: block;
    background-color: #22c1c3;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}

.notification-wrapper ul li {
    list-style-type: none;
    line-height: 2;
}

.notification-wrapper ul h3 {
    border-bottom: .1rem solid lightskyblue;
    color: #f57f08;
    margin-bottom: .5rem;
}




.recent-flex {
    margin-top: 3.5rem;
}

.card {
    background-color: #22c1c3;
    border-radius: .3rem;
}

.card-header, .card-body {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    border-collapse: collapse;
}

thead tr {
    border-top: .1rem solid #222;
    border-bottom: .1rem solid #222;
}

thead td {
    font-weight: 700;
}

td {
    font-size: .9rem;
    padding: .5rem 1rem;
    color: #222;
}