.bg-color{
    background-color: #22c1c3;
}

.home-page-container-input {
    width: 80%;
    border: .1rem solid #6494ed27;
    border-radius: 1rem;
    background-color: white;
    margin: -5rem auto;
    z-index: 100;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, .1);
}
.home-page-title {
    height: 20rem;
    /* background-image: url('../assets/car.jpg'); */
    background-image: linear-gradient(90deg, #0f0e0ea6 0%, #332e2f8e 55%, #464243b0 100%), url('../assets/car.jpg');
    background-size: cover;
    background-position: center;
}

.home-page-title h1 {
    color: white;
    text-align: center;
    padding-top: 12rem;
}

.home-page-title h1 > strong {
    color: #22c1c3;
}

.btn-go-return {
    display: flex;
    /* margin: .5rem; */
}

.btn-go {
    background-color: #0eaaac;
    padding: .8rem;
    border: .1rem solid transparent;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn-return {
    background-color: #10c1c3;
    padding: .8rem;
    border: .1rem solid transparent;
    font-size: 1.2rem;
    cursor: pointer;
    /* margin-left: 1rem; */
}

.user-informations .input-home-page {
    padding: 1rem 1.5rem 1rem  1rem;
    margin: .5rem;
}

.travel-informations {
    display: flex;
}

.travel-informations .select-home-page, .input-home-page {
    padding: 1rem 1.5rem 1rem  1rem;
    margin: .5rem;
}

.home-page-container-input .select-home-page, .input-home-page {
    width: 100%;
}

button {
    padding: 1rem;
    margin: .5rem;
    background-color: #f57f08;
    color: white;
    font-size: 1rem;
    border: .1rem solid transparent;
    border-radius: .2rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    color: white;
    background-color: #1d325a;
}

#message {
    background-color: green;
    width: 30rem;
    /* padding: 1rem; */
}



.business-brief-description {
    margin: 8rem auto;
    width: 80%;
}

.descriptions img {
    height: 20rem;
}

.descriptions {
    margin: 5rem;
    display: flex;
    justify-content: space-between;
}

.description-text {
    margin-top: 5rem;
    margin-left: 5rem; 
}

.description-text h2 {
    margin-bottom: 1rem;
}


.mobile-app {
    background-color: #22c1c3;
    height: 25rem;
    width: 100%;
}

.elements-app {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.mobile-app img {
    height: 20rem;
    width: 25rem;
    margin-top: 1rem;
}

.mobile-app .app-text {
    margin-top: 4rem;
}


.user-add {
    padding: 2rem;
    margin: auto;
    width: 80%;
    border: .1rem solid #6494ed27;
    background-color: rgba(100, 148, 237, 0.315);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-travel-add li {
    color: #333;
    list-style: none;
    line-height: 2;
}

.user-travel-add li strong {
    margin-right: 1rem;
}