.orders-informations {
    border-radius: .3rem;
    background-color: lightseagreen;
    padding: 1rem;
}

.orders {
    width: 100%;
}

.order {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: lightskyblue;
    width: 100%;
}