.recapitulatif {
    width: 100%;
    display: flex;
}

/* .container-user-session {
} */

.content-left {
    width: 40%;
}

.container-recap {
    background-color: #22c1c3;
    border-radius: .3rem;
    margin: 2rem;
    padding: 1rem;
    line-height: 2;
}

.container-recap h2 {
    color: white;
    text-align: center;
}

.user-recapitulatif {
    display: flex;
    flex-direction: column;
}

.content-right {
    width: 60%;
}

.container-content-right {
    background-color: #f57f08;
    border-radius: .3rem;
    margin: 2rem;
    padding: 1rem;
    line-height: 2;
}