.container-footer-item {
    width: 80%;
    margin: 5rem auto;
}


.footer-top {
    display: flex;
}

.footer-items {
    flex: 1;
}

.footer-bot {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    background-color: #22c1c3;
    padding: 1.5rem;
}