.container-connexion {
    width: 80%;
    margin: 5rem auto;
}

.container-form {
    width: 60%;
    margin: auto;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding: 5rem 3rem 5rem 3rem;
    border-radius: 1rem;
}

.container-form h1, .container-form p, .container-form a {
    margin: .5rem;
}

.container-form h1 {
    margin-top: -2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}

.container-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-form form input {
    padding: 1rem;
    border-radius: 1rem;
    border: .1rem solid transparent;
    margin: .5rem;
}

.container-form form a {
    text-decoration: none;
    color: white;
}

.container-connexion .btn-connexion {
    width: 10rem;
    background-color: #f57f08;
    color: white;
    border-radius: 2rem;
    padding: .8rem;
}

.container-form p>a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-decoration: white;
}