.nav-bar {
    background-color: #22c1c3;
    display: flex;
    justify-content: space-between;
}

.nav-bar img {
    height: 5rem;
    width: 5rem;
}

.nav-bar ul {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-right: 5rem;
}

.nav-bar a {
    color: white;
    margin: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
}

.signUp, .home, .about, .login{
    padding: 1rem 1rem 1rem 1rem;
}
.signUp {
    background-color: #f57f08;
    border-radius: .2rem;
}